[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
resampy = "*"
matplotlib = "*"
ipython = "*"
ipykernel = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
scikit-commpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.18"
